<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <!-- <h5 class="blue-text left" style="line-height: 75px"> {% t global.title %}</h5>           -->
    <a id="logo-container" class="blue-text brand-logo left" href="{{ "/" | relative_url }}" style="height:100%">
      <!-- {% t global.title %} -->
      <img src="/assets/imgs/logo-{{ site.lang }}.png" class="" style="height: 100%; width: auto;"/>
    </a>
    <!-- <a href="#" class="brand-logo blue-text"></a>       -->
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

    <a id='language-dropdown-button' class="right" href='#' data-activates='language-dropdown'>
      <span class="flag-icon flag-icon-{{ site.flag_icons[site.lang] }} flag-icon-squared"></span>
      <!-- {{ site.langs[site.lang] }} -->
    </a>
    
    <ul id="language-dropdown" class="right dropdown-content">
      {% for lang in site.languages %}
      {% unless site.lang == lang %}

      {% if lang == site.default_lang %}
      {% assign page_url = site.baseurl_root | append: page.url %}
      {% else %}
      {% assign page_url = site.baseurl_root | append: "/" | append: lang | append: page.url %}
      {% endif %}
      


      <li>
	<a href="{{ page_url}}" >
	  <span class="flag-icon flag-icon-{{ site.flag_icons[lang] }} flag-icon-squared"></span>
	  {{ site.langs[lang] }}
	</a>
      </li>
      {% endunless%}

    {% endfor %}
    </ul>
    
    <ul class="right hide-on-med-and-down">
      <li>	      
	<a href="{{ "/" | relative_url }}" class='blue-text'>
	  {% t pages.home %}
	</a>	      
      </li>
      {% for link in site.navigation %}
      {% assign current = nil %}
      {% if page.url contains link.url %}
      {% assign current ="class='blue lighten-5'" %}
      {% endif %}
      <li {{current}}>	      
	<a href="{{ link.url | relative_url }}" class="blue-text">
	  {% t pages.{{ link.name }} %}
	</a>	      
      </li>
      {% endfor %}
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li>	      
	<a href="#" class="blue-text">
	  {% t pages.home %}
	</a>	      
      </li>
      {% for link in site.navigation %}
      <li><a href="{{ link.url | relative_url }}">
	  <!-- {{ pages.{{ link.name }} }} -->
	  <!-- {% translate pages.{{ link.name }} %} -->
      </a></li>
      {% endfor %}
    </ul>        

    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
