<nav class="blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" class="brand-logo" href="{{ "/" | relative_url }}">Logo</a>
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

          <ul class="right hide-on-med-and-down">
            <li><a href="{{ "/" | relative_url }}">Home </a></li>
	    {% for link in site.navigation %}
	    {% assign current = nil %}
	    {% if page.url contains link.url %}
            {% assign current ="class='blue darken-1'" %}
	    {% endif %}
	    <li {{current}}><a href="{{ link.url | relative_url }}"> {{ link.title | escape }} </a></li>
	    {% endfor %}
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Home</a></li>
	    {% for link in site.navigation %}
	      <li><a href="{{ link.url | relative_url }}"> {{ link.title | escape }} </a></li>
	    {% endfor %}
          </ul>        

      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
