---
layout: default
---

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h2 class="header center orange-text darken-4">{% t global.slogan %}</h2>
    <!-- <div class="row center"> -->
    <!--   <h5 class="header col s12 light">{{ content }}</h5> -->
    <!-- </div> -->
    
    <!-- <div class="row center"> -->
    <!--   <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a> -->
    <!-- </div> -->
  </div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center red-text"><i class="material-icons">favorite</i></h2>
          <h5 class="center">{% t home.love %}</h5>

          <p class="light center">{% t home.love_desc %}</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">accessibility</i></h2>
          <h5 class="center">{% t home.openness %}</h5>
          <p class="light center">{% t home.openness_desc %}</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center green-text"><i class="material-icons">filter_vintage</i></h2>
          <h5 class="center">{% t home.growth %}</h5>
          <p class="light center">{% t home.growth_desc %}</p>
        </div>
      </div>
    </div>

  </div>
  
</div>
